.features{
    padding: 50px 0;

    @media screen and (min-width: 768px){
        padding: 80px 0;
    }
    
    @media screen and (min-width: 1170px){
        padding: 100px 0;
        max-width: 100vw;
        max-height: 671vh;
        background-image: url(../images/features__img.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.features__title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 31 / 22 * 100%;
    text-align: center;

    color: $black-color;

    background: linear-gradient(180deg, #F9E994 0%, #537D13 56.25%, #483C08 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (min-width: 768px){
        font-size: 32px;
        line-height: 41 / 32 * 100%;
    }

    @media screen and (min-width: 1170px){
        font-size: 52px;
        line-height: 61 / 52 * 100%;
    }
}
.features__content{
    margin-top: 41px;

    @media screen and (min-width: 768px){
        margin-top: 51px;
    }

    @media screen and (min-width: 1170px){
        margin-top: 61px;
    }
}
.features__list{
    
    @media screen and (max-width: 767px){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    @media screen and (min-width: 768px){
        padding: 0 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
    }

    @media screen and (min-width: 1170px){
        padding: 0 28px;
    }
}
.features__content-img img{
    max-width: 100%;
}
.features__item{
    padding: 15px;
    flex: 0 1 21em;
    background: #f6e791;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .25);
    border-radius: 20px;
    text-align: center;
    align-self: normal;

    @media screen and (min-width: 768px){
        max-width: 305px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.features__content-text{
    padding: 15px;
    background: rgba(161, 211, 55, 0.4);
    border-radius: 20px;

    @media screen and (min-width: 768px){
        height: 218px;
    }
}
.features__subtitle{
    margin-bottom: 19px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26 / 22 * 100%;
    color: $white-color;
    text-shadow:  0 2px 2px rgba(0, 0, 0, .25);
}
.features__subtext{
    font-style: normal;
    font-size: 18px;
    line-height: 21 / 18 * 100%;
    color: #483c08;
}
