.features{
    
    @media screen and (min-width: 1170px){
        max-width: 1783px;
        max-height: 671px;
        background-image: url(../images/features__img.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.features__title{
    padding-top: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 31 / 22 * 100%;
    text-align: center;

    color: $black-color;

    background: linear-gradient(to bottom, #F9E994 0%, #537D13 56.25%, #483C08 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (min-width: 768px){
        padding-top: 80px;
        font-size: 32px;
        line-height: 41 / 32 * 100%;
    }

    @media screen and (min-width: 1170px){
        padding-top: 100px;
        font-size: 52px;
        line-height: 61 / 52 * 100%;
    }
}
.features__content-article{
    margin-top: 41px;

    @media screen and (min-width: 768px){
        margin-top: 51px;
    }

    @media screen and (min-width: 1170px){
        margin-top: 61px;
    }
}
.features__content-list{
    
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        margin-left: -84px;
    }
}
.features__content-item{

    @media screen and (max-width: 767px){
        &:not(:last-child){
            margin-bottom: 20px;
        }    
    }

    @media screen and (min-width: 768px){
        flex-basis: calc(100% / 2 - 84px);
        margin-left: 84px;

        &:first-child{
            margin-bottom: 20px;
        }
    }

    @media screen and (min-width: 1170px){
        flex-basis: calc(100% / 3 - 84px);

        &:first-child{
            margin-bottom: 0;
        }
    }
}
.features__content-art{
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: #f6e791;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 768px){
    }
}
.features__img{
    text-align: center;
}
.features__text{
    padding: 21px 15px 23px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: rgba(161, 211, 55, 0.4);
}
.features__subtitle{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26 / 22 * 100%;
    text-align: center;
    color: $white-color;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.features__subtext{
    margin-top: 19px;
    font-style: normal;
    font-size: 18px;
    line-height: 21 / 18 * 100%;
    text-align: center;
    color: #483c08;
}