.page-header{
    padding-top: 23px;
}
.page-header__logo-content{
    display: flex;
    justify-content: space-between;
}
.menu__toggle{

    @media screen and (min-width: 1169px){
        display: none;
    }
}
.page-header__nav-cloud{
    display: flex;
    align-items: center;
    height: 100%;
}
.page-header__cloud-logo{
    display: none;
    
    @media screen and (min-width: 1170px){
        display: block;
        position: relative;
    }
}
.page-header__cloud-img{

    @media screen and (min-width: 480px){
        max-width: 100%;
    }
}
.page-header__logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page-header__nav-content{
    display: none;

    @media screen and (min-width: 1170px){
        display: block;
        position: relative;
    }
}
.page-header__nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav__list{
    display: flex;
}
.nav__item{

    @media screen and (min-width: 1170px){

        &:not(:last-child){
            margin-right: 51px;
        }
    }
}
.nav__link{
    
    @media screen and (min-width: 1170px){
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23 / 20 * 100%;
        text-transform: uppercase;
        text-decoration-line: underline;
        color: $brown-color;
    }
}